/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&display=swap');

/* USE A IMPORTAÇÃO SIMPLIFICADA DO TAILWIND V4 */
@import "tailwindcss"; 

/* O restante do seu CSS e a sua fonte personalizada */
html {
  font-family: 'Epunda Slab', serif;
  font-optical-sizing: auto;
  font-style: normal;
}